<div class="content">
    <div class="header">
        <h1>About</h1>
        <hr>
        <p>I'm Inan. Easier to read than pronounce.</p>
        <p>I'm currently studying Computer Science at University of California, Santa Cruz with a proposed major in Computer Science B.S.</p>
        <p>I expect to graduate in 2024.</p>
        <br>
        <!--lol hardcoded link-->
        <p><a href="https://drive.google.com/file/d/1WNTnDS6dp9pUtXw5lWSuNiHhaDMDnt2a/view?usp=sharing">Resume</a> for reference.</p>
    </div>
</div>